---
layout: default
title: Blog posts by tag
---

.blog.archives
  .wrapper
    = partial "includes/newsletter-signup.html"
    .section
      %h2 Tags
      %ul
        - blog.tags.sort.each do |tag, articles|
          %li
            = link_to "##{tag}" do
              = tag
              %span (#{articles.count})
      - blog.tags.sort.each do |tag, articles|
        %h3{ id: tag } Posts tagged #{tag.capitalize}
        %ul
          - articles.sort_by(&:date).reverse.each do |post|
            %li
              - if post.date
                %time
                  = post.date.to_time.strftime '%b %e, %Y'
              = link_to post.url do
                = post.title

